causal_conv1d==1.1.3
click==8.1.7
einops==0.8.0
gensim==4.3.3
hpargparse==0.14.0
hpman==0.13.0
lm_eval==0.4.3
lmdb==1.4.1
loguru==0.7.2
mamba_ssm==1.1.1
matplotlib==3.8.4
nltk==3.9.1
numpy==2.1.0
opencv_python==4.9.0.80
packaging==24.1
Pillow==10.4.0
portalocker==2.8.2
psutil==5.9.8
pytest==8.3.2
pyxdg==0.28
PyYAML==6.0.1
PyYAML==6.0.2
rope==1.13.0
sacrebleu==2.4.2
scikit_learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
setuptools==69.5.1
six==1.16.0
skimage==0.0
tensorflow==2.16.1
theano==1.0.5
timm==1.0.8
torch==2.1.1
torchtext==0.18.0
torchvision==0.16.1
tqdm==4.66.4
transformers==4.40.2
wandb==0.17.7
wheel==0.44.0
